body {
	font-family: Arial;
}

header {
	padding: 0.5em 0;
	border-bottom: 1px solid black;
}

header img {
	width: 20vw;
}

header nav {
	display: inline-block;
	vertical-align: top;
}

header nav ul {
	margin: 0;
}

header nav li {
	display: inline-block;
	cursor: pointer;
}

header nav a {
	transition: color 400ms;
	text-decoration: none;
}

header nav .active a {
	text-decoration: underline;
}

header nav li a:hover {
	color: #00009B;
}

header nav li:nth-child(2) {
	border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 1em;
    margin: 0 1em;
}

.page {
	max-width: 1200px;
	margin: auto;
}

.page_aim {
	width: 60%;
	margin: 2em auto;
	white-space: nowrap;
}

.page_aim hgroup, .page_aim img {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	white-space: initial;
}

.page_aim h3 {
	display: inline-block;
	font-style: italic;
	text-shadow: 0px 6px 9px #00000052;
}

.contacts a {
	display: block;
}

.contacts, article {
	width: 80%;
	margin: auto;
	line-height: 1.5;
}

main p, main h3 {
	text-indent: 1.5em;
}

main ol li {
	list-style-type: none;
	position: relative;
	padding-left: 1.5em;
}

main ol li:before {
	content: attr(data-marker) ').';
	font-weight: bold;
	position: absolute;
	left: 0;
}

footer {
	min-height: 20vh;
}

@media screen and (max-width: 480px) {
	header {
		font-size: 0.8em;
	}

	header nav {
		display: block;
		text-align: right;
	}

	main {
		width: 90%;
		margin: auto;
	}

	main > * {
		width: 100%;
	}

	.page_aim {
		width: 100%;
		margin: auto;
	}
}
